{% extends "base.html" %}

{% block body %}
	{% for id, customer_id, staff_id, rental_id, amount, payment_date, last_update in payment %}
		<p>
			<strong>Customer id</strong>
			{{ customer_id }}
		</p>
		<p>
			<strong>Staff id</strong>
			{{ staff_id }}
		</p>
		<p>
			<strong>Rental id</strong>
			{{ rental_id }}
		</p>
		<p>
			<strong>Amount</strong>
			{{ amount }}
		</p>
		<p>
			<strong>Last update:</strong>
			{{ payment_date }} UTC
		</p>
		<p>
			<strong>Last update:</strong>
			{{ last_update }} UTC
		</p>

		<form action="{{ update_payment_link }}" method="POST"><input type="hidden" name="id" value="{{ id }}"><button type="submit">Edit</button></form>
		<form action="{{ index_payment_link }}" method="POST"><button type="submit">Back</button></form>
	{% endfor %}		
{% endblock %}
