{% extends "base.html" %}

{% block body %}
	<table>
		<thead>
			<tr>
				<th>Rental date</th>
				<th>Inventory id</th>
				<th>Customer id</th>
				<th>Return date</th>
				<th>Staff id</th>
				<th>Last updated</th>
			</tr>
		</thead>

		<tbody>
			{% for id, rental_date, inventory_id, customer_id, return_date, staff_id, last_update in rentals %}
				<tr>
					<td>{{ rental_date }} UTC</td>
					<td>{{ inventory_id }}</td>
					<td>{{ customer_id }}</td>
					<td>{{ return_date }} UTC</td>
					<td>{{ staff_id }}</td>
					<td>{{ last_update }} UTC</td>
					<td><form action="{{ show_rental_link }}" method="POST"><input type="hidden" name="id" value="{{ id }}"><input type="submit" value="Show"></form></td>
					<td><form action="{{ update_rental_link }}" method="POST"><input type="hidden" name="id" value="{{ id }}"><input type="submit" value="Edit"></form></td>
					<td><form action="{{ delete_rental_link }}" method="POST"><input type="hidden" name="id" value="{{ id }}"><input type="submit" value="Destroy"></form></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<a href="{{ create_rental_link }}">New Rental</a>
{% endblock %}
