{% extends "base.html" %}

{% block body %}
	<table>
		<thead>
			<tr>
				<th>City</th>
				<th>Country Id</th>
				<th>Last Update</th>
			</tr>
		</thead>

		<tbody>
			{% for id, city, country_id, last_update in cities %}
				<tr>
					<td>{{ city }}</td>
					<td>{{ country_id }}</td>
					<td>{{ last_update }} UTC</td>
					<td><form action="{{ show_city_link }}" method="POST"><input type="hidden" name="id" value="{{ id }}"><input type="submit" value="Show"></form></td>
					<td><form action="{{ update_city_link }}" method="POST"><input type="hidden" name="id" value="{{ id }}"><input type="submit" value="Edit"></form></td>
					<td><form action="{{ delete_city_link }}" method="POST"><input type="hidden" name="id" value="{{ id }}"><input type="submit" value="Destroy"></form></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<a href="{{ create_city_link }}">New City</a>
{% endblock %}
