{% extends "base.html" %}

{% block body %}
	<ul>
		<li><a href="{{ index_actor_link }}">Actors</a></li>
		<li><a href="{{ index_address_link }}">Addresses</a></li>
		<li><a href="{{ index_category_link }}">Categories</a></li>
		<li><a href="{{ index_city_link }}">Cities</a></li>
		<li><a href="{{ index_country_link }}">Countries</a></li>
		<li><a href="{{ index_customer_link }}">Customers</a></li>
		<li><a href="{{ index_film_link }}">Films</a></li>
		<li><a href="{{ index_filmtext_link }}">Film Texts</a></li>
		<li><a href="{{ index_inventory_link }}">Inventories</a></li>
		<li><a href="{{ index_language_link }}">Languages</a></li>
		<li><a href="{{ index_payment_link }}">Payments</a></li>
		<li><a href="{{ index_rental_link }}">Rentals</a></li>
		<li><a href="{{ index_staff_link }}">Staff</a></li>
		<li><a href="{{ index_store_link }}">Stores</a></li>
	</ul>
{% endblock %}
