{% extends "base.html" %}

{% block body %}
	<table>
		<thead>
			<tr>
				<th>Country</th>
				<th>Last Update</th>
			</tr>
		</thead>

		<tbody>
			{% for id, country, last_update in countries %}
				<tr>
					<td>{{ country }}</td>
					<td>{{ last_update }} UTC</td>
					<td><form action="{{ show_country_link }}" method="POST"><input type="hidden" name="id" value="{{ id }}"><input type="submit" value="Show"></form></td>
					<td><form action="{{ update_country_link }}" method="POST"><input type="hidden" name="id" value="{{ id }}"><input type="submit" value="Edit"></form></td>
					<td><form action="{{ delete_country_link }}" method="POST"><input type="hidden" name="id" value="{{ id }}"><input type="submit" value="Destroy"></form></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<a href="{{ create_country_link }}">New Country</a>
{% endblock %}
