{% extends "base.html" %}

{% block body %}

	{% for id, name, last_update in language %}
		<form action="{{ update_language_save_link }}" method="post">
			<input type="hidden" name="id" value="{{ id }}">
			<p>
				Name<br>
				<input name="name" value="{{ name }}">
			</p>
			<p>
				<input type="submit" value="Update Language">
			</p>
		</form>
		<form action="{{ show_language_link }}" method="POST"><input type="hidden" name="id" value="{{ id }}"><button type="submit">Show</button></form>
		<form action="{{ index_language_link }}" method="POST"><button type="submit">Back</button></form>
	{% endfor %}		
{% endblock %}
